html,
body {
  height: 100%;
}
body {
  background-image: radial-gradient(circle at 50%, transparent 10%, hsla(0, 0%, 5%, 0.65) 100%), radial-gradient(circle at 50%, hsl(0, 0%, 5%) 3px, transparent 4px), radial-gradient(circle at 50%, hsla(0, 0%, 100%, 0.1) 4px, transparent 5px), radial-gradient(circle at 50%, hsl(0, 0%, 5%) 3px, transparent 4px), radial-gradient(circle at 50%, hsla(0, 0%, 100%, 0.1) 4px, transparent 5px), url('//i.jyhr.co/cdpn/leather.png');
  background-size: cover,
    40px 40px,
    40px 40px,
    40px 40px,
    40px 40px,
    auto;
  /* Fallback */
  background-position: 50%, 
    0 0, 
    0 1px,
    20px 20px,
    20px 21px, 
    50%;
  background-position: 50%, 50%, 50% calc(50% + 1px), calc(50% + 20px) calc(50% + 20px), calc(50% + 20px) calc(50% + 21px), 50%;
  background-color: hsl(0, 0%, 15%);
}
