/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body {
  height: 100%;
}
body {
  background-image: radial-gradient(circle at 50%, transparent 10%, hsla(0, 0%, 5%, 0.65) 100%), radial-gradient(circle at 50%, hsl(0, 0%, 5%) 3px, transparent 4px), radial-gradient(circle at 50%, hsla(0, 0%, 100%, 0.1) 4px, transparent 5px), radial-gradient(circle at 50%, hsl(0, 0%, 5%) 3px, transparent 4px), radial-gradient(circle at 50%, hsla(0, 0%, 100%, 0.1) 4px, transparent 5px), url('//i.jyhr.co/cdpn/leather.png');
  background-size: cover,
    40px 40px,
    40px 40px,
    40px 40px,
    40px 40px,
    auto;
  /* Fallback */
  background-position: 50%, 
    0 0, 
    0 1px,
    20px 20px,
    20px 21px, 
    50%;
  background-position: 50%, 50%, 50% calc(50% + 1px), calc(50% + 20px) calc(50% + 20px), calc(50% + 20px) calc(50% + 21px), 50%;
  background-color: hsl(0, 0%, 15%);
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  color: #999;
}
div {
  border: 1px solid yellow;
}
h1 {
  font-size: 3rem;
  color: #fff;
  margin: 1rem;
}
h2 {
  font-size: 2rem;
  color: #fff;
  margin: 1rem;
}
h3 {
  font-size: 1.25rem;
  color: #fff;
  margin: 1rem;
}
hr {
  color: #fff;
  margin: 1rem;
}
p {
  color: #fff;
  margin: 1rem;
  color: #999;
}
.navbar {
  display: flex;
  background-color: #333;
  background: linear-gradient(#333, #000);
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: center;
}
@media (max-width: 700px) {
  .navbar {
    flex-direction: column;
  }
}
.navbar a {
  color: #999;
  text-align: center;
  padding: 1rem 1.6rem;
  text-decoration: none;
  font-size: 1.4rem;
  width: 20rem;
}
@media (max-width: 700px) {
  .navbar a {
    padding: 1%;
    font-size: 1.7rem;
    width: 100%;
    border-top: none;
  }
}
.navbar a:hover {
  background-color: tomato;
  background: linear-gradient(tomato, crimson);
  color: black;
}
section {
  border: 3px solid orange;
  margin: 4.5rem 2rem 1rem 2rem;
  border: 0.1rem solid #999;
  border-radius: 2.5rem;
  display: flex;
  background: linear-gradient(#333, #000);
}
@media (max-width: 700px) {
  section {
    flex-direction: column;
  }
}
section .boxy {
  display: flex;
}
@media (max-width: 700px) {
  section .boxy {
    flex-direction: column;
  }
}
section .boxy .profile {
  max-width: 50%;
  height: auto;
  border-radius: 2.5rem 0 0 2.5rem;
}
@media (max-width: 700px) {
  section .boxy .profile {
    max-width: 100%;
    height: auto;
    border-radius: 2.5rem;
  }
}
section .boxy div {
  width: 100%;
  justify-content: center;
}
section .boxy div .button-container {
  display: flex;
}
section .boxy div .button-container a {
  text-decoration: none;
  color: #000;
  margin: 1rem 0;
  padding: 1rem 2rem;
  border: 1px solid transparent;
  border-radius: 25px;
  background: linear-gradient(tomato, crimson);
  justify-content: center;
  font-size: 1.5rem;
}
@media (max-width: 700px) {
  section {
    margin: 12rem 1rem 0 1rem;
  }
}
section .twins {
  width: 50%;
}
@media (max-width: 700px) {
  section .twins {
    flex-direction: column;
    width: 100%;
  }
}
section .twins div {
  justify-content: center;
}
section .twins .stuff {
  width: 100%;
  display: flex;
  flex-direction: column;
}
section .twins .stuff .bordered {
  display: flex;
}
section .twins .stuff .bordered ul {
  margin: 0.5rem 0;
}
section .twins .stuff .bordered ul li {
  border: 1px solid #999;
  padding: 1.5rem;
}
section .table {
  padding: 1rem;
  display: flex;
  width: 100%;
  flex-direction: column;
}
section .table .th {
  width: 100%;
  display: flex;
  padding: 0.5rem;
}
section .table .th .years {
  padding: 0.25rem;
  width: 10%;
}
section .table .th .company {
  padding: 0.25rem;
  width: 20%;
}
section .table .th .title {
  padding: 0.25rem;
  width: 40%;
}
section .table .th .tech {
  padding: 0.25rem;
  width: 30%;
}
section .table .tt {
  width: 100%;
  display: flex;
  padding: 0.5rem;
}
section .table .tt .years {
  padding: 0.25rem;
  width: 10%;
}
section .table .tt .company {
  padding: 0.25rem;
  width: 20%;
}
section .table .tt .title {
  padding: 0.25rem;
  width: 40%;
}
section .table .tt .tech {
  padding: 0.25rem;
  width: 30%;
}
section .table .ti {
  width: 100%;
  display: flex;
  padding: 0.5rem;
}
section .table .ti .years {
  padding: 0.25rem;
  width: 10%;
}
section .table .ti .company {
  padding: 0.25rem;
  width: 20%;
}
section .table .ti .title {
  padding: 0.25rem;
  width: 40%;
}
section .table .ti .tech {
  padding: 0.25rem;
  width: 30%;
}
footer {
  margin-top: 2rem;
  display: flex;
  background-color: #333;
  background: linear-gradient(#333, #000);
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: center;
}
